{
  "extends": [ "eslint-config-codely/typescript" ],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "rules": {
    "import/no-unresolved": "off",
    "no-constant-binary-expression": "off",
    "no-undef": "off",
    "@typescript-eslint/no-unsafe-call": "off",
		"@typescript-eslint/no-unsafe-assignment": "off"
  }
}