.TextEditor {
  gap: 4px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .TextEditor .form {
    min-width: 300px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px; }
    .TextEditor .form .input {
      width: 100%;
      border: 0px;
      min-height: 40px;
      font-size: large; }
    .TextEditor .form .commandInput {
      margin-left: 40px; }
    .TextEditor .form .submit {
      background-color: black;
      color: white;
      min-width: 120px;
      min-height: 40px;
      font-weight: bold;
      border-radius: 8px;
      max-width: 200px;
      margin-left: 40px; }
