.FormElementDraggable {
  display: flex;
  align-items: baseline;
  gap: 8px;
  padding: 8px; }
  .FormElementDraggable .image {
    width: 24px;
    height: 24px;
    opacity: 1; }
    .FormElementDraggable .image.hidden {
      opacity: 0; }
