.OptionCreator {
  display: flex;
  flex-direction: column;
  gap: 10px;

  > input {
    border-radius: 5px;
    height: 36px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px 0px, rgba(61, 59, 53, 0.16) 0px 0px 0px 1px, rgba(61, 59, 53, 0.08) 0px 2px 5px 0px;
    border-radius: 5px;
    color: rgb(187, 186, 184);
    padding-left: 10px;
  }
}